.scrolling-banner {
    white-space: nowrap;
    box-sizing: border-box;
  overflow: hidden;;
}

.text-container {
    display: inline-block;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
}