---
import PageLayout from "../../layouts/PageLayout.astro";
import Project from "../../components/Project";

const project = 
    {
      title: "Video 1",
      description: "Description for video 1",
      source: ["/supernova.mp4", "/supernova.mp4", "/supernova.mp4"],
      link: "/video1" ,
      preview: "Preview for video 1",
      date: "2018-2022"
    }
---
<PageLayout title="Progetto">
	<main>
		<Project project={project} client:visible />
	</main>
</PageLayout>